

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Black.ttf"),
    format("truetype")
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../public/assets/summer-bg.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    margin: 0; 
    backdrop-filter: blur(10px);
}

h1 {
    text-align: center;
    color: #ff6a00;
    font-size: 70px;
    font-family: Roboto;
}

input {
    display: block;
    cursor: pointer;
    width: 200px;
    margin: 50px auto;
}

.container {
    padding-top: 150px;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.music-block-summer-bg {
    background-image: url("../public/assets/summer-bg.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid white;
    width: 200px;
    height: 200px;
}

.music-block-rainy-bg {
    background-image: url("../public/assets/rainy-bg.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid white;
    width: 200px;
    height: 200px;
}

.music-block-winter-bg {
    background-image: url("../public/assets/winter-bg.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid white;
    width: 200px;
    height: 200px;
}

.icon {
    width: 80px;
    height: 80px;
}
